<div class= "navbar navbar-light bg-light">
 <p>  <%= link_to "new article", new_article_path %></p>
</div>
<ul>
  <% @articles.each do |a| %>
    <li>
      <h3><%= link_to a.title, article_path(a) %></h3>
      <%= a.content %>
    </li>
  <% end %>
</ul>
