@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap');

body {
    width: 70%;
    margin: auto;
}
ul > li {
    list-style: none;
}

h2 {
  font-family: Roboto Slab;
}

h3 {
    font-family: Roboto Slab;
  }